.marginBot {
    margin-bottom: 70px;
}

.textOnImage {
    position: absolute;
    top: 16px;
    left: 32px;
  }

.carouselImageContainer {
position: relative;
text-align: center;
color: white;
}

.alignLeft {
    text-align: left;
}

.carouselTitle {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

.carouselImagePhrase {
    font-size: 16px;
}

.carouselImageTitle {
    font-size: 32px;
}

.halfLineHeight {
    line-height: 5%;
}