.darkBlueBackground {
    background-color: #015e7a;
}

.darkblue {
    color: #015e7a
}

.red {
   color: #a96b70
}

.blackText {
    color: black;
 }
 
.alignLeft {
    text-align: left;
}

.textOnImage {
    position: absolute;
    top: 8px;
    left: 16px;
  }

.carouselImageContainer {
position: relative;
text-align: center;
color: white;
}