.darkBlueBackground {
    background-color: #015e7a;
}

.darkblue {
    color: #015e7a
}

.red {
   color: #a96b70
}

.blackText {
    color: black;
 }

 .whiteText {
     color: white;
 }

 .boldText {
     font-weight: bold;
 }

.sidePaddings {
    padding-left: 50px;
    padding-right: 50px;
}