.darkBlueBackground {
    background-color: #015e7a;
}

.darkblue {
    color: #015e7a
}

.darkblueBackground {
    background-color: #015e7a;
}

.red {
   color: #a96b70
}

.blackText {
    color: black;
 }

 .whiteText {
     color: white;
 }

 .grayText {
    color: gray;
}

 .boldText {
     font-weight: bold;
 }

.sidePaddings {
    padding-left: 50px;
    padding-right: 50px;
}

.bottomMargin50 {
    margin-bottom: 50px;
}

.sidePaddings100 {
    padding-left: 100px;
    padding-right: 100px;
}

.flex {
    display: flex;
}

.lineHeight {
    line-height: 200%;
}

.topBorder {
    border-bottom: 1px solid;
    border-color: lightgray;
}

.topPadding5 {
    padding-top: 5px;
}

.mainBackground {
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

.paddingLeft13 {
    padding-left: 13px;
}

.paddingLeft31 {
    padding-left: 31px;
}

.paddingLeft35 {
    padding-left: 35px;
}

.paddingLeft47 {
    padding-left: 47px;
}

.marginLeft120 {
    margin-left: 120px;
}

.marginLeft100 {
    margin-left: 100px;
}

.height1000 {
    height:1000px;
}

.height600 {
    height:600px;
}

.center {
    margin: auto;
    width: 20%;
    padding: 10px;
  }

  .center50 {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .darkBlueBorder {
    border: 3px solid #015e7a;
  }

  .justify {
      justify-content: center;
  }

  .align > div > div {
      display: flex;
      align-items: center;
  }

  .fontSize32 {
      font-size: 32px;
  }

  .hero-image {
    background-image: url("/images/hero1.jpg");
    height: 600px;
    background-position: center;
    background-repeat: repeat;
  }

  .hero-text {
    text-align: center;
    left: 50%;
    color: white;
  }

  .heroTitle {
      padding-top: 128px;
      font-size: 64px;
  }

  .heroTitle2 {
    font-size: 64px;
}